body {
    font-family: sans-serif;
    background-color: rgb(169, 169, 180);
  }
  
  h1 {
    font-size: 2em;
  }
  
  section {
    margin: 20px 0;
  }
  
  #input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #sisi {
    width: 100px;
    height: 30px;
  }
  
  #hasil {
    display: flex;
    flex-direction: column;
  }
  
  #luas {
    font-size: 1.5em;
  }
  
  #keliling {
    font-size: 1.5em;
  }
  